{% extends 'base.html.twig' %}

{% block title %}SociRak - Profile{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="row">
        <div class=" col-4 card m-4 p-4 ms-xl-4 bg-white">
            <div class="card-title"><h1 class="h1">Profile</h1></div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row mb-2 card-subtitle h5">First name</div>
                        <div class="text-capitalize">{{ user.userProfile.firstName }}</div>
                    </div>
                    <div class="col">
                        <div class="row mb-2 card-subtitle h5">Last name</div>
                        <div class="row text-capitalize">{{ user.userProfile.lastName }}</div>
                    </div>
                    <div class="col">
                        <div class="row text-info text-black mb-2 card-subtitle h5">Birth date</div>
                        <div class="row text-capitalize">{{ user.userProfile.birthDate | date('d-m-Y') }}</div>
                    </div>
                </div>
                <div class="row col-6 mt-4">
                    <a href="{{ path("app_profile_set") }}" class="btn btn-outline-success">Modify profile</a>
                </div>
            </div>
        </div>

        <div class=" col-3 card m-4 p-4 ms-xl-4 bg-white">
            <div class="row">
                <div class="col-6 text-primary"><h5 class="h5 text-start">Number of posts</h5></div>
                <div class="col-6">
                    <h4>{{ user.articles| length }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5 class="h5 text-start text-primary">Recent Post</h5>
                </div>
                <div class="col-6">
                    <h4 class="text-start">{{ user.articles[user.articles|length - 1].title }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5 class="h5 text-start text-primary">Most Commented Post</h5>
                </div>
                <div class="col-6">
                    <h4 class="text-start">{{ user.articles[user.articles|length - 1].title }}</h4>
                </div>
            </div>
            <div class="row mt-4"></div>
            <div class="row col-6 mt-5 align-content-center h-25">
                <a class="btn btn-outline-primary" href="{{ path("app_user_post") }}">
                    See Posts
                </a>
            </div>
        </div>
    </div>
{% endblock %}