{% extends 'base.html.twig' %}

{% block title %}
    SociRak - My Posts
{% endblock %}


{% block body %}

    <style>
        .hover-scale:hover {
            transform: scale(1.05);
            transition: 200ms ease-out all;

        }
    </style>

    <div class="row mb-2">

    {% for article in articles %}
        <div class="col-2 mx-2 mt-5" style="height: 365px ;overflow: clip">
            <div class="g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative hover-scale">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">User Tag</strong>
                    <h3 class="mb-0">{{ article.title }}</h3>
                    <div class="mb-1 text-muted">{{ article.createdAt | date('d-m-Y') }}</div>
                    <p class="card-text mb-auto">{{ article.smallDescription }}</p>
                    <div class="row mt-1">
                        <a href="{{ path("app_article_view",{"id":article.id}) }}" class=" col link-dark">View
                            Article</a>
                        <a href="{{ path("app_post_edit",{"id":article.id}) }}" class=" col link-info">Edit</a>
                        <a href="{{ path("app_post_delete",{"id":article.id}) }}" class="col link-danger">Delete</a>
                    </div>
                </div>
                <div class="row d-none d-lg-block card-img card-img-bottom" style="max-height: 400px;overflow: clip">
                    <img src="{{ asset("uploads/articles/#{article.image}") }}" alt="{{ article.title }}">
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}